.wp-block-cloudblocks-feature-box {
  max-width: 350px;
  background: none;
  position: relative;
  min-height: 285px;

  &--background {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;

    .wp-block-cloudblocks-feature-box__description p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  & > * {
    padding: 10px;
  }


  .wp-block-cloudblocks-feature-box__image {
    margin: 0 0 20px;
  }

  img {
    max-width: 100%;
  }

  h2 + h2:before {
    content: '' !important;
    background: transparent;
  }
}
